<div class="bg-video">
	<img src="img/bg-women.png" />

	<div class="filter">
	</div>
</div>


<div class="tpl-view" id="agegate">
	<header class="text-center">
		<img src="img/logo-salud.png" />
	</header>

	<section class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">¿Eres mayor de edad?</p>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 text-right choice">
				<button class="btn" ng-click="soymayor(true);">
					SI
				</button>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 text-left choice">
				<button class="btn" ng-click="soymayor(false);">
					NO
				</button>
			</div>
		</div>
	</section>
</div>

<div id="home-footer"></div>