<div class="top-menu">
	<img src="img/menu/logo.png" class="logo">
	<div class="movil-icon" ng-click="toggleMovilMenu()"></div>
</div>

<div class="options" ng-class="{show: show_menu}">
	<ul>
		<li ng-class="{ active: isActive('/')}" class="home">
			<a href="/">Home</a>
		</li>
		<li ng-class="{ active: isActive('/galeria')}" class="galeria">
			<a href="/galeria">Galería</a>
		</li>
		<li ng-click="showVideo($event, 'video');" class="video">
			<a href="/video">Video de Modelos</a>
		</li>
		<li ng-click="showVideo($event, 'making');" class="making">
			<a href="/making-of-calendario">Making of Calendario</a>
		</li>
		<li ng-class="{ active: isActive('/descargas')}" class="descargas">
			<a href="/descargas">Descargas</a>
		</li>
	</ul>

	<div class="redes">
		<a href="https://www.youtube.com/user/CampanarioReposado" target="_blank" class="youtube">
			<div class="icon"></div>
		</a>
		<a href="https://twitter.com/CampanarioChile" target="_blank" class="twitter">
			<div class="icon"></div>
		</a>
		<a href="https://www.facebook.com/piscocampanario/" target="_blank" class="facebook">
			<div class="icon"></div>
		</a>
	</div>
</div>