body {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: 'Gotham';
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	body, html {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	html {
		overflow: hidden;
	}

	body * {
		-webkit-overflow-scrolling: touch;
	}
}

html, body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.tpl-view {
	position: relative;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
	color: #fff;
}

.hexagon {
	position: relative;
	width: 26px; 
	height: 15.01px;
	background-color: transparent;
	margin: 7.51px 0;
	border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 18.38px;
	height: 18.38px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 2.8076px;
}

.hexagon:before {
	top: -9.1924px;
	border-top: solid 1.4142px #ffffff;
	border-right: solid 1.4142px #ffffff;
}

.hexagon:after {
	bottom: -9.1924px;
	border-bottom: solid 1.4142px #ffffff;
	border-left: solid 1.4142px #ffffff;
}

#principal .animate-home-video {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

#principal .animate-home-video.ng-enter {
	-webkit-animation: fadeIn .5s;
	-moz-animation: fadeIn .5s;
	-ms-animation: fadeIn .5s;
	animation: fadeIn .5s;
}

#principal .animate-home-video.ng-leave {
	-webkit-animation: fadeOut .5s;
	-moz-animation: fadeOut .5s;
	-ms-animation: fadeOut .5s;
	animation: fadeOut .5s;
}


/* Animations enter & leave */

#principal .animate-views {
	position: absolute;
	width: 100%;
	height: 100%;
}

#principal .animate-views.ng-enter {
	-webkit-animation: fadeIn .5s;
	-moz-animation: fadeIn .5s;
	-ms-animation: fadeIn .5s;
	animation: fadeIn .5s;
}

#principal .animate-views.ng-leave {
	-webkit-animation: fadeOut .5s;
	-moz-animation: fadeOut .5s;
	-ms-animation: fadeOut .5s;
	animation: fadeOut .5s;
}


/*BG video*/

.bg-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #fff;
}

.bg-video * {
	width: 100%;
}

.bg-video .filter {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	animation-name: bgchange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes bgchange {
	0% {background: rgba(255,84,37,0.80);}
	25% {background: rgba(255,214,26,0.80);}
	50% {background: rgba(193,218,10,0.80);}
	75% {background: rgba(210,53,69,0.80);}
	100% {background: rgba(255,84,37,0.80);}
}

/* Botones */

.btn {
	background: transparent;
	border: 1px solid #fff;
	font-size: 18px;
	color: #fff;
	text-shadow: none;
	min-width: 87px;
	outline: 0!important;
	transition: color .3s, background-color .3s;
}

.btn:focus,
.btn:active,
.btn:hover {
	background-color: #FFFFFF;
	color: #D61E19;
	border: 1px solid #fff;
}


/* Agegate */

#agegate {
	margin-top: 10%;
	z-index: 87444;
	position: relative;
}

#agegate header {
	margin-bottom: 40px;
}

#agegate header img {
	width: 450px;
}

#agegate section p {
	margin-bottom: 20px;
	font-size: 1.2em;
}

#agegate .footer-movil {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: none;
}

@media (max-width: 767px) {
	#agegate section .choice {
		text-align: center!important;
		margin-bottom: 20px;
	}

	#agegate {
		padding: 20px 20px;
		padding-top: 127px;
		margin-top: 0px;
		background: url(../img/home/bg-movil.png);
		background-size: cover;
		height: 100%;
	}

	#agegate img {
		width: auto;
		max-width: 100%;
	}

	#agegate section p {
		margin-bottom: 40px;
		margin-left: -15px;
		margin-right: -15px;
	}

	#agegate .footer-movil {
		display: block;
	}
}

/* Home Footer */

#home-footer {
	background: url(../img/footer/footer.png);
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 37%;
	z-index: 87333;
}

/* Site Footer */

#site-footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 15px 40px;
	font-family: Verdana;
	font-size: 10px;
	z-index: 88888;
}

#site-footer .row > div {
	display: inline-block;
	line-height: 3;
}

#site-footer .home, #site-footer .home a {
	color: #D61E19;
}

/* Menú */

#menu {
	position: fixed;
	top: 40px;
	left: 20px;
	z-index: 99999;
	padding-left: 20px;
}

#menu .options {
	overflow: hidden;
	max-height: 0px;
	transition: max-height .3s;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: -20px;
}

#menu .options.show {
	max-height: 300px;
}

#menu ul {
	list-style: none;
	margin-top: 30px;
	padding-left: 20px;
	margin-left: -20px;
}

#menu ul li {
	position: relative;
	margin-bottom: 19px;
	opacity: .6;
	transition: opacity .3s;
}

#menu ul li a {
	font-size: 12px;
}

#menu ul li:hover, #menu ul li.active  {
	opacity: 1;
}

#menu ul li.active:before {
	display: block;
	position: absolute;
	content: "|";
	top: 0px;
	left: -10px;
	color: #fff;
}

#menu .redes {
	margin-top: 22px;
}

#menu .redes > a {
	margin-right: 10px;
}

#menu .redes a .icon {
	width: 20px;
	height: 23px;
	background: url(../img/redes/youtube.png);
	background-position: 0px 0px;
	display: inline-block;
}

#menu .redes a.twitter .icon {
	background: url(../img/redes/twitter.png);
}

#menu .redes a.facebook .icon {
	background: url(../img/redes/facebook.png);
}

#menu .redes a .icon:hover {
	background-position: 20px 0px;
}

#menu .movil-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 34px;
	height: 33px;
	background: url(../img/menu/movil-icon.png);
	background-position: 34px 0px;
}

#menu img.logo {
	max-width: 117px;
}

@media screen and (max-width: 767px) {
	#menu {
		background-color: #D61E19;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		transition: left .3s;
	}

	#menu.open {
		left: 0;
	}

	#menu .top-menu {
		position: fixed;
		top: 20px;
		left: 10px;
		width: 100%;
	}

	#menu img.logo {
		display: block;
		margin: 0 auto;
	}

	#menu .movil-icon {
		display: block;
	}

	#menu.open .movil-icon {
		background-position: 0px 0px;
	}

	#menu .options {
		margin-top: 70px;
		max-height: initial !important;
	}

	#menu ul {
		padding-left: 70px;
		margin-top: 10px;
	}

	#menu ul li {
		margin-bottom: 30px;
	}

	#menu ul li.active a {
		text-decoration: underline;
	}

	#menu ul li:before {
		content: url(../img/menu/icons/home.png);
		left: -50px;
		top: -10px;
		position: absolute;
	}

	#menu ul li:hover:before, #menu ul li.active:before {
		content: url(../img/menu/icons/home-active.png);
		left: -50px;
    	top: -10px;
	}

	#menu ul li.galeria:before {
		content: url(../img/menu/icons/galeria.png);
	}

	#menu ul li.galeria:hover:before, #menu ul li.galeria.active:before {
		content: url(../img/menu/icons/galeria-active.png);
	}

	#menu ul li.video:before {
		content: url(../img/menu/icons/video.png);
	}

	#menu ul li.video:hover:before, #menu ul li.video.active:before {
		content: url(../img/menu/icons/video-active.png);
	}

	#menu ul li.making:before {
		content: url(../img/menu/icons/making.png);
	}

	#menu ul li.making:hover:before, #menu ul li.making.active:before {
		content: url(../img/menu/icons/making-active.png);
	}

	#menu ul li.descargas:before {
		content: url(../img/menu/icons/descargas.png);
	}

	#menu ul li.descargas:hover:before, #menu ul li.descargas.active:before {
		content: url(../img/menu/icons/descargas-active.png);
	}

	#menu ul li.concursos:before {
		content: url(../img/menu/icons/concursos.png);
	}

	#menu ul li.concursos:hover:before, #menu ul li.concursos.active:before {
		content: url(../img/menu/icons/concursos-active.png);
	}

	#menu .redes {
		position: absolute;
		left: 0px;
		bottom: 20px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	#menu .redes a {
		margin: 0 10px;
	}

	#menu .redes a .icon {
		background: url(../img/redes/youtube-movil.png);
		width: 32px;
		height: 36px;
	}

	#menu .redes a.twitter .icon {
		background: url(../img/redes/twitter-movil.png);
	}

	#menu .redes a.facebook .icon {
		background: url(../img/redes/facebook-movil.png);
	}
}

/* 404 */

#template404 {
	width: 100%;
	height: 100%;
	background: url(../img/404/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #DC0E0D;
	position: absolute;
	font-family: Verdana;
	font-size: 26px;
}

#template404 .content {
	margin-top: 100px;
}

#template404 .content > * {
	display: inline-block;
	vertical-align: middle;
}

#template404 .content .text {
	margin-left: 40px;
}

#template404 .content .text span {
	font-size: 90px;
	font-weight: bold;
}


/* Descargas */

#descargas {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/descargas/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #C13441;
	padding-top: 40px;
	vertical-align: top;
}


#descargas img.rombos {
	position: absolute;
	top: 25%;
	right: 0px;
	z-index: 444;
}

#menu-descargas {
	list-style: none;
	padding: 0px;
	margin: 0px auto;
	vertical-align: bottom;
}

#menu-descargas li {
	padding: 0 30px;
	border-left: 1px solid #D86B71;
	height: 75px;
	cursor: pointer;
	display: inline-block;
	padding-top: 15px;
}

#menu-descargas li:first-child {
	border-left: none;
}

#menu-descargas li img {
	vertical-align: bottom;
}

#menu-descargas li.smart img {
	width: 66px;
}

#menu-descargas li.note img {
	width: 56px;
}

#menu-descargas li.calendar img {
	width: 77px;
}

#descargas-content {
	position: relative;
	margin-top: 20px;
	z-index: 555;
}

#descargas-content .animate-descargas {
	position: absolute;
	width: 100%;
}

#descargas-content .animate-descargas.ng-enter {
	-webkit-animation: zoomIn .5s;
	-moz-animation: zoomIn .5s;
	-ms-animation: zoomIn .5s;
	animation: zoomIn .5s;
}

#descargas-content .animate-descargas.ng-leave {
	-webkit-animation: zoomOut .5s;
	-moz-animation: zoomOut .5s;
	-ms-animation: zoomOut .5s;
	animation: zoomOut .5s;
}


#descargas-content .include-content {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

#descargas-content .include-content.cal {
	margin-top: 15px;
	width: 100%;
}

#descargas-content .include-content > * {
	vertical-align: top;
	display: inline-block;
}

#descargas-content .control {
	position: absolute;
	top: 40%;
	left: 0px;
	width: 100%;
}

#descargas-content .control .boton {
	background: url(../modelos/cleft.png);
	width: 37px;
	height: 43px;
	background-position: 0px 0px;
	cursor: pointer;
	opacity: 1;
	transition: opacity .3s;
	display: inline-block;
}

#descargas-content .control .boton.right {
	background: url(../modelos/cright.png);
}

#descargas-content .control .boton:hover {
	background-position: 37px 0px;
}

#descargas-content .control .boton[disabled]:hover {
	background-position: 0px 0px;
}

#descargas-content .control .boton[disabled] {
	opacity: .5;
	cursor: default;
}

#descargas-content .paging {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
}

#descargas-content .paging img {
	margin: 0 3px;
	cursor: pointer;
	opacity: .5;
	transition: opacity .3s;
}

#descargas-content .paging img.active {
	opacity: 1;
}

#descargas-content .celular .paging {
	bottom: 16%;
}

#descargas-content .celular {
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
	height: 100%;
}

#descargas-content .celular .mascara {
	position: relative;
	width: 225px;
	height: 100%;
	padding-top: 31.14%;
	padding-left: 1%;
}

#descargas-content .celular .mascara .phone {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#descargas-content .list-content {
	overflow: hidden;
	position: relative;
	display: inline-block;
}

#descargas-content .note .list-content {
	max-height: 90%;
}

#descargas-content ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	position: relative;
	margin-left: 0px;
	transition: margin-left .3s;
}

#descargas-content ul li {
	display: inline-block;
}

#descargas-content ul li img {
	width: 100%;
	vertical-align: top;
}

#smart-download {
	margin-top: 100px;
	margin-left: 30px;
	min-width: 240px;
	position: relative;
}

#smart-download img.linea {
	position: absolute;
	top: 0px;
	right: -30px;
}

#descargas .btn {
	margin-top: 30px;
	background-color: transparent;
	color: #fff;
	font-size: 12px;
	transition: all .3s;
	position: absolute; 
	right: 33px; 
	top: 90px;
}

#descargas .btn:hover {
	background-color: #FFFFFF;
	color: #D61E19;
}

#descargas-content .note {
	height: 100%;
}

#descargas-content .note .paging {
	bottom: 15%;
}

#descargas-content .note .mascara {
	position: relative;
	width: 660px;
	height: 100%;
	padding-top: 3.24%;
}

#descargas-content .note .mascara .note {
	position: absolute;
	top: 0px;
	left: 0px;
}

#note-download {
	display: block !important;
	margin-top: 30px;
}

#note-download a {
	font-family: 'Gotham';
	font-size: 12px;
	margin: 0 10px;
	opacity: 0.8;
}

#note-download a:hover {
	opacity: 1;
}

#descargas-content .include-content.cal .calendar .info {
	display: none;
	width: 40%;
	padding: 0 10px;
	padding-top: 50px;
	margin-top: 0px;
}

#descargas-content .include-content.cal .calendar {
	width: 33%;
}

#descargas-content .include-content.cal .calendar img {
	width: 100%;
}

#send-email {
	display: none !important;
	width: 100%;
	margin-top: 30px;
}

#send-email form > input {
	display: block;
	width: 80%;
	margin: 0 auto !important;
	margin-bottom: 20px !important;
	height: 40px;
}

#send-email form input[name="email"] {
	border-radius: 4px;
	text-align: center;
	border: none;
	color: #000;
}

#send-email p {
	margin-top: 10px;
}

@media screen and (max-width: 767px) {
	#descargas {
		padding-top: 80px;
		min-height: 100%;
		height: auto;
	}

	#descargas .btn {
		position: relative;
		top: 0px;
		right: 0px;
	}

	#descargas-content .list-content {
		overflow: initial;
	}

	#descargas-content .celular {
		height: 83%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#descargas-content .celular .mascara {
		padding-top: 0px;
		margin: 0px auto;
		z-index: 66999;
	}

	#descargas-content .celular .paging {
		bottom: 12%;
	}

	#descargas-content ul li img {
		width: 90%;
	}

	#smart-download {
		margin: 0 auto;
		text-align: center;
		display: block !important;
		width: 100%;
	}

	#descargas .btn {
		float: initial !important;
		margin: 0px;
	}

	#descargas-content .include-content {
		width: 100%;
	}

	#descargas-content .include-content.cal {
		width: 100%;
	}

	#descargas-content .include-content.cal .calendar {
		width: 100%;
		text-align: left;
		overflow: auto;
		padding-top: 1px;
    	margin-top: -1px;
	}

	#descargas-content .include-content.cal .calendar img {
		display: inline-block;
		margin-top: -50px;
		width: initial;
	}

	#descargas-content .include-content.cal .calendar .info {
		display: inline-block;
	}

	#descargas-content .include-content.cal #smart-download {
		margin-top: 20px;
	}

	#send-email {
		display: block !important;
	}

	#descargas-content .animate-descargas {
		position: relative;
		float: left;
		overflow: hidden;
	}

	#descargas-content .include-content > * {
		display: block;
	}

	#descargas-content .control {
		padding: 0 20px;
		z-index: 66000;
	}

	#descargas-content .control .boton {
		opacity: .5 !important;
	}
}


/* Modelos */

#modelos {
	width: 100%;
	height: 100%;
	position: absolute;
}

#modelos .velo-negro {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.05;
}

#modelos .modelo {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#modelos .modelo .modelo-container {
	position: relative;
	overflow: hidden;
	width: 300%;
	height: 100%;
}

#modelos .modelo .modelo-container .img {
	float: left;
	width: 33.3333333%;
	margin-left: 0%;
	transition: margin-left 1s;
	position: relative;
}

#modelos .modelo .modelo-container .img.next {
	margin-left: -33.3333333%;
}


#modelos .modelo .modelo-container .img img {
	width: 100%;
	transition: margin-top .5s;
}

#modelos .modelo .modelo-container .img img.up {
	transition: margin-top 2s;
}

#modelos .modelo .control {
	position: absolute;
	margin: auto;
	height: 43px;
	width: 37px;
	top: 0px;
	bottom: 0px;
}

#modelos .modelo .control a {
	padding: 10px;
}

#modelos .modelo .control.left {
	left: 20%;
}

#modelos .modelo .control.left .btn-control {
	background: url(../modelos/cleft.png);
	background-position: 0px 0px;
}

#modelos .modelo .control.right {
	right: 20%;
}

#modelos .modelo .control.right .btn-control {
	background: url(../modelos/cright.png);
	background-position: 0px 0px;
}

#modelos .modelo .control .btn-control {
	display: block;
	width: 100%;
	height: 100%;
}

#modelos .modelo .control .btn-control.disabled {
	opacity: 0.3;
}

#modelos .modelo .control .btn-control:hover {
	background-position: -37px 0px;
}

#modelos .thumbnails {
	position: fixed;
	top: 40px;
	right: 40px;
}

#modelos .thumbnails ul {
	list-style: none;
}

#modelos .thumbnails ul li {
	transition: all 0.3s;
	margin-bottom: 20px;
	text-align: right;
	opacity: 0.6;
}

#modelos .thumbnails ul li a {
	font-size: 10px;
}

#modelos .thumbnails ul li.compartir,
#modelos .thumbnails ul li.modelo-thumbnail:hover, #modelos .thumbnails ul li.modelo-thumbnail.active {
	opacity: 1;
}

#modelos .thumbnails ul li.modelo-thumbnail.active img {
	border: 3px solid #fff;
	margin-right: -3px;
}

.modal-compartir-modelo {
	position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    display: none;
    transition: opacity 0.3s;
}

.modal-compartir-modelo.open {
	opacity: 1;
}

.modal-compartir-modelo .box {
	position: absolute;
    height: 99px;
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-family: 'Gotham-Light';
}

.modal-compartir-modelo .box a {
	margin-left: 20px; 
}

.bg.mariana {
	background: #f8c130;
}

.bg.ivana {
	background: #f05030;
}

.bg.lupe {
	background: #c33a42;
}

.bg.dumi {
	background: #c1d832;
}

@media (max-width: 767px) {
	#modelos .modelo .modelo-container .img img {
		margin-top: 0px!important;
	}

	#modelos .modelo .control {
		top: auto;
		bottom: 30px;
	}

	#modelos .modelo .control.left {
		left: 20px;
	}

	#modelos .modelo .control.right {
		right: 20px;
	}

	#modelos .thumbnails {
		position: absolute;
	    bottom: 0px;
	    top: auto;
	    left: 0px;
	    right: 0px;
	    margin: auto;
	}

	#modelos .thumbnails.open {
		top: 0px;
    	background: rgba(0,0,0,0.75);
    	z-index: 99999;
	}

	#modelos .thumbnails ul {
		padding: 0px;
		margin: auto;
		margin-bottom: 0px;
		position: absolute;
		bottom: 30px;
		left: -57px;
		right: 0px;
		width: 50px;
	}

	#modelos .share-mobile {
		position: absolute;
		bottom: 30px;
		left: 70px;
		right: 0px;
		margin: auto;
		width: 37px;
		height: 43px;
	}

	#modelos .modelo .modelo-container {
		overflow-y: auto;
	}

	#modelos .thumbnails ul li {
		text-align: center;
	}

	#modelos .thumbnails ul li.modelo-thumbnail {
		margin: 0px!important;
		position: absolute;
		bottom: 0px;
	}

	#modelos .thumbnails ul li.modelo-thumbnail:hover img {
		box-shadow: none;
	}

	#modelos .thumbnails ul li.modelo-thumbnail img {
		border: 2px solid #fff!important;
		margin: 0px!important;
	}

	#modelos .thumbnails ul li.modelo-thumbnail.active {
		z-index: 4;
	}

	#modelos .thumbnails ul li.modelo-thumbnail.no-active.index-1 {
		z-index: 3;
		bottom: 5px;
		left: -5px;
	}

	#modelos .thumbnails ul li.modelo-thumbnail.no-active.index-2 {
		z-index: 2;
		bottom: 10px;
		left: -10px;
	}

	#modelos .thumbnails ul li.modelo-thumbnail.no-active.index-3 {
		z-index: 1;
		bottom: 15px;
		left: -15px;
	}

	#modelos .thumbnails.open ul li.modelo-thumbnail {
		left: 0px!important;
	}

	#modelos .thumbnails.open ul li.modelo-thumbnail.no-active.index-1 {
		bottom: 64px;
	}

	#modelos .thumbnails.open ul li.modelo-thumbnail.no-active.index-2 {
		bottom: 124px;
	}

	#modelos .thumbnails.open ul li.modelo-thumbnail.no-active.index-3 {
		bottom: 184px;
	}

	.modal-compartir-modelo .box {
		padding: 0px 15px;
	}

	.modal-compartir-modelo .box span {
		display: block;
		margin-bottom: 15px;
	}

	.modal-compartir-modelo .box a{
		margin-right: 20px;
		margin-left: 0px;
	}

	.modal-compartir-modelo .box a.facebook {
		margin-right: 0px;
	}
}


/* Videos */

#videos {
	position: fixed;
	width: 100%;
	height: 100%;
}

#videos .close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 30px;
	opacity: .3;
	transition: opacity .3s;
	cursor: pointer;
	width: 30px;
}

#videos .close img {
	width: 100%;
}

#videos .close:hover {
	opacity: 1;
}

@media screen and (max-width: 767px) {
	#videos .close {
		opacity: 1;
		font-size: 40px;
	}
}

/* Loading */

#loading {
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#loading img {
	margin-top: 20%;
	width: initial !important;
}

/* Concursos */

#concursos {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/404/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #DE1F0D;
	padding-top: 9%;
	vertical-align: top;
}

#concursos > * {
	display: inline-block;
	vertical-align: top;
}

#concursos .imagen {
	width: 32%;
	position: relative;
	margin-right: 5%;
	margin-bottom: 5%;
}

#concursos .imagen img.gif {
	width: 87%;
}

#concursos .imagen img.botella {
	position: absolute;
	right: -42px;
	bottom: -60px;
	width: 43%;
}

#concursos .side {
	position: relative;
	margin-top: 5%;
}

#concursos .side p {
	font-size: 14px;
}

#concursos .side .linea {
	position: absolute;
	top: 10px;
	right: -100px;
}

#concursos .redes {
	margin-top: 40px;
}

#concursos .redes a {
	margin-right: 15px;
}

.icon {
	width: 45px;
	height: 51px;
	display: inline-block;
	background: url(../img/concursos/twitter.png);
	background-position: 0px 0px;
	transition: background-position .15s;
	vertical-align: middle;
}

.icon.facebook {
	background: url(../img/concursos/facebook.png);
}

.icon:hover {
	background-position: 0px -51px;
}

@media screen and (max-width: 767px) {
	#concursos {
		padding-top: 25%;
		height: auto;
		min-height: 100%;
	}

	#concursos > * {
		display: block;
		width: 100%;
		text-align: center;
	}

	#concursos .imagen {
		width: 84%;
	}

	#concursos .side {
		margin-top: 25%;
		padding: 0 10px;
	}

	#concursos .side .redes {
		margin-top: 30px;
	}

	#concursos .side .redes, #concursos .side p {
		text-align: center;
	}
}