body {
	background: #000;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: 'Gotham';
}

html, body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.tpl-view {
	position: relative;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}

.hexagon {
	position: relative;
	width: 26px; 
	height: 15.01px;
	background-color: transparent;
	margin: 7.51px 0;
	border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 18.38px;
	height: 18.38px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 2.8076px;
}

.hexagon:before {
	top: -9.1924px;
	border-top: solid 1.4142px #ffffff;
	border-right: solid 1.4142px #ffffff;
}

.hexagon:after {
	bottom: -9.1924px;
	border-bottom: solid 1.4142px #ffffff;
	border-left: solid 1.4142px #ffffff;
}


/* Animations enter & leave */

.ng-enter {
	-webkit-animation: bounceInDown 1s;
	-moz-animation: bounceInDown 1s;
	-ms-animation: bounceInDown 1s;
	animation: bounceInDown 1s;
}

.ng-leave {
	-webkit-animation: bounceOutUp 1s;
	-moz-animation: bounceOutUp 1s;
	-ms-animation: bounceOutUp 1s;
	animation: bounceOutUp 1s;
}


/*BG video*/

.bg-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.bg-video * {
	width: 100%;
}

.bg-video .filter {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	animation-name: bgchange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes bgchange {
	0% {background: rgba(255,74,53,0.75);}
	25% {background: rgba(255,190,65,0.75);}
	50% {background: rgba(197,214,62,0.75);}
	75% {background: rgba(210,53,69,0.75);}
	100% {background: rgba(255,74,53,0.75);}
}

/* Botones */

.btn {
	background: transparent;
	border: 1px solid #fff;
	font-size: 20px;
	color: #fff;
	text-shadow: none;
	min-width: 87px;
	outline: 0!important;
}

.btn:focus,
.btn:active,
.btn:hover {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
}


/* Agegate */

#agegate {
	margin-top: 10%;
}

#agegate header {
	margin-bottom: 40px;
}

#agegate section p {
	margin-bottom: 20px;
	font-size: 1.2em;
}

@media (max-width: 767px) {
	#agegate section .choice {
		text-align: center!important;
		margin-bottom: 20px;
	}
}

/* Home Footer */

#home-footer {
	background: url(../img/footer/footer.png);
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 20%;
}

/* Site Footer */

#site-footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 15px 40px;
	font-family: Verdana;
	font-size: 10px;
}

#site-footer .row > div {
	display: inline-block;
	line-height: 3;
}

#site-footer .home, #site-footer .home a {
	color: #D61E19;
}

/* Menú */

#menu {
	position: fixed;
	top: 40px;
	left: 20px;
	z-index: 99999;
	padding-left: 20px;
}

#menu .options {
	overflow: hidden;
	max-height: 0px;
	transition: max-height .3s;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: -20px;
}

#menu .options.show {
	max-height: 300px;
}

#menu ul {
	list-style: none;
	margin-top: 30px;
	padding-left: 20px;
	margin-left: -20px;
}

#menu ul li {
	position: relative;
	margin-bottom: 15px;
}

#menu ul li:hover:before {
	display: block;
	position: absolute;
	content: "|";
	top: 0px;
	left: -10px;
	color: #fff;
}

#menu .redes {
	margin-top: 40px;
}

#menu .redes > a {
	margin-right: 10px;
	padding-left: 8px;
	padding-right: 1px;
	padding-top: 2px;
	font-size: 14px;
}

#menu .redes > a.twitter {
	padding-left: 6px;
}

#menu .redes > a.facebook {
	padding-right: 8px;
}

/* 404 */

#template404 {
	width: 100%;
	height: 100%;
	background: url(../img/404/bg.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #DC0E0D;
	position: absolute;
	font-family: Verdana;
	font-size: 26px;
}

#template404 .content {
	margin-top: 100px;
}

#template404 .content > * {
	display: inline-block;
	vertical-align: middle;
}

#template404 .content .text {
	margin-left: 40px;
}

#template404 .content .text span {
	font-size: 90px;
	font-weight: bold;
}