body {
	background: #000;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: 'Gotham';
}

.view {
	position: relative;
}

/*BG video*/

.bg-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.bg-video * {
	width: 100%;
}

.bg-video .filter {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	animation-name: bgchange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes bgchange {
	0% {background: rgba(255,74,53,0.75);}
	25% {background: rgba(255,190,65,0.75);}
	50% {background: rgba(197,214,62,0.75);}
	75% {background: rgba(210,53,69,0.75);}
	100% {background: rgba(255,74,53,0.75);}
}

/* Botones */

.btn {
	background: transparent;
	border: 1px solid #fff;
	font-size: 20px;
	color: #fff;
	text-shadow: none;
	min-width: 87px;
	outline: 0!important;
}

.btn:focus,
.btn:active,
.btn:hover {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
}





/* Footer */

#site-footer {
	background: url(../img/footer/footer.png);
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 20%;
}