<div id="modelos" class="bg" ng-class="modelo">

	<div class="modelo">
		<div class="modelo-container">
			<div ng-repeat="value in imgs" class="img">
				<img ng-src="{{value}}" class="img-modelo" ng-mousemove="scrollImage($event)" load-image />
			</div>
		</div>
			

		<div class="control left">
			<a href="#" class="btn-control" ng-click="control('left')" ng-class="{disabled: indeximage == 0 }"></a>
		</div>

		<div class="control right">
			<a href="#" class="btn-control" ng-click="control('right')" ng-class="{disabled: indeximage == 2 }"></a>
		</div>
	</div>

	<div class="thumbnails">
		<ul>
			<li ng-repeat="value in modelos" ng-class="{active: modeloActiva(value.modelo)}" class="modelo-thumbnail">
				<a ng-href="/galeria/{{value.modelo}}">
					<img ng-src="{{value.thumbnail}}" />
				</a>
			</li>
			<li class="compartir">
				<a href="#" ng-click="openmodal()">
					Compartir <i class="fa fa-share-alt"></i>
				</a>
			</li>
		</ul>
	</div>
</div>


<div class="modal-compartir-modelo" ng-keyup="closemodal($event)" ng-click="closemodal()" tabindex="1">
	<div class="box text-center">
		<span>
			Compartir con amigos en:
		</span>

		<img src="img/line.png" />

		<a href="#" ng-href="http://twitter.com/share?text={{title}}&amp;url={{url}}" target="_blank" ng-click="share($event)">
			<img src="img/share/twitter.png" />
		</a>

		<a href="#" ng-href="http://www.facebook.com/share.php?u={{url}}" target="_blank" ng-click="share($event)">
			<img src="img/share/facebook.png"  />
		</a>

	</div>
</div>