<div class="celular" ng-init="initData('smart');" ng-swipe-left="nextPage();" ng-swipe-right="prevPage();" >
	<div class="mascara" ng-style="{'width': contentWidth}">
		<div class="list-content" ng-style="{'width': objWidht}">
			<ul ng-style="{'width': ulWidht, 'margin-left': (page - 1) * objWidht * -1}">
				<li ng-repeat="imagen in imageList track by $index" ng-style="{width: objWidht}">
					<img ng-src="{{imagen.url}}">
				</li>
			</ul>
		</div>
		<img src="img/descargas/smart/phone.png" class="phone hidden-xs">
	</div>
	<div class="control text-left hidden-xs">
		<div class="boton" ng-click="prevPage();" ng-disabled="page < 2"></div>
		<div class="pull-right boton right" ng-click="nextPage();" ng-disabled="page >= imageList.length"></div>
	</div>
	<div class="paging hidden-xs">
		<img ng-repeat="n in range(1, imageList.length)" src="img/descargas/pin.png" ng-class="{active: n == page}" ng-click="goPage(n)">
	</div>
</div>

<div id="smart-download" class="text-left">
	<p class="hidden-xs">
		Descarga los wallpapers<br/>
		de nuestras chicas para<br/>
		tu celular.
	</p>
	<img src="img/descargas/linea.png" class="linea hidden-xs">
	<a class="btn pull-right" ng-href="{{imageList[page - 1].download}}" target="_blank" download="{{imageList[page - 1].name}}">Descargar Wallpaper</a>
</div>